# Importing Important Libraries

In [4]:
import pickle
import pandas as pd

# Loading model

In [3]:
with open("classification_model.pickle","rb" ) as file:
    model = pickle.load(file)

g:\Air_quality\Air_quality_prediction\myenv\Lib\site-packages\sklearn\base.py:376: InconsistentVersionWarning: Trying to unpickle estimator DecisionTreeClassifier from version 1.4.1.post1 when using version 1.4.2. This might lead to breaking code or invalid results. Use at your own risk. For more info please refer to:
https://scikit-learn.org/stable/model_persistence.html#security-maintainability-limitations
  warnings.warn(

# Loading dataset

In [6]:
df = pd.read_csv("train_dataset.csv")
df.head(3)

,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,...,Jorapokhar,Kochi,Kolkata,Lucknow,Mumbai,Patna,Shillong,Talcher,Thiruvananthapuram,Visakhapatnam
0,78.2,90.85,1.37,40.01,36.37,19.52,1.00,8.42,37.71,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,78.2,90.85,1.37,27.75,19.73,19.52,0.02,8.42,37.71,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,78.2,90.85,1.37,19.32,11.08,19.52,0.08,8.42,37.71,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# Seperating data set for prediction

In [20]:
bucket_predict = df.sample(100000, random_state=42)

# Seperating true label

In [22]:
true_classify = bucket_predict["AQI_Bucket"]
print(true_classify)

582128        Moderate
452161            Good
28340           Severe
337726            Poor
451439            Good
              ...
440413            Poor
316574       Very Poor
484488       Very Poor
659313    Satisfactory
220607    Satisfactory
Name: AQI_Bucket, Length: 100000, dtype: object

In [23]:
bucket_predict.drop(columns="AQI_Bucket", inplace=True)

In [24]:
bucket_predict

,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,...,Jorapokhar,Kochi,Kolkata,Lucknow,Mumbai,Patna,Shillong,Talcher,Thiruvananthapuram,Visakhapatnam
582128,36.74,54.30,54.30,6.97,0.00,0.00,1.96,29.270,40.08,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
452161,11.10,38.58,38.58,6.48,10.55,10.55,0.32,4.880,16.60,1.21,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
28340,45.14,112.11,112.11,57.24,66.78,19.52,0.85,8.420,41.17,1.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
337726,56.50,133.00,133.00,0.76,2.56,2.56,2.29,7.500,37.98,1.26,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
451439,5.63,12.95,12.95,6.87,11.09,11.09,0.32,4.520,24.87,0.97,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
440413,72.24,140.44,140.44,19.86,20.62,19.52,1.34,18.540,15.58,1.78,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
316574,79.66,156.33,156.33,14.57,14.34,19.52,0.52,2.410,25.78,1.94,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
484488,45.75,90.85,9.03,63.07,20.62,19.52,1.84,11.410,9.48,1.13,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
659313,45.75,86.65,86.65,7.10,20.62,6.61,0.00,21.205,14.26,1.00,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
220607,31.40,32.53,32.53,9.31,21.64,21.64,1.59,10.010,7.52,0.03,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# Prediction

In [25]:
pred_classify = model.predict(bucket_predict)

# Evaluation

In [31]:
from sklearn.metrics import accuracy_score, f1_score, classification_report
accu = accuracy_score(y_true=true_classify, y_pred=pred_classify)
print(f"The accuracy of model is {round(accu,3) * 100 }")

The accuracy of model is 99.8

In [29]:
f1 = f1_score(y_true=true_classify, y_pred=pred_classify, average=None)
print(f"The accuracy of model is {f1}")

The accuracy of model is [0.99880401 0.99815711 0.99796424 0.99944377 0.99156474 0.99852681]

In [32]:
c_report = classification_report(y_true=true_classify, y_pred=pred_classify)
print(f"The accuracy of model is {c_report}")

The accuracy of model is               precision    recall  f1-score   support

        Good       1.00      1.00      1.00      6688
    Moderate       1.00      1.00      1.00     34741
        Poor       1.00      1.00      1.00     11292
Satisfactory       1.00      1.00      1.00     32359
      Severe       0.99      0.99      0.99      4741
   Very Poor       1.00      1.00      1.00     10179

    accuracy                           1.00    100000
   macro avg       1.00      1.00      1.00    100000
weighted avg       1.00      1.00      1.00    100000